<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button class="boton" color="primary" (click)="mover('/salir')">Cerrar</button>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" class="boton" (click)="mover('/socio')">Socio</button>
    <button mat-flat-button color="primary" class="boton" (click)="mover('/mozo/mesas')">Mozo</button>
    <button mat-flat-button color="primary" class="boton" (click)="mover('/comanda/libres')">Comanda</button>
    <button mat-flat-button color="primary" class="boton" (click)="mover('/cliente')">Cliente</button>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" class="boton" (click)="mover('/salir')">Salir</button>
  </mat-toolbar-row>
</mat-toolbar>