
  
  .midle {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background: whitesmoke;
  }
  .input {
    margin: auto;
    width: 100%;
  }
  .fill{
      width: 95%;
      padding: 10px;
  }


  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  